<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:P="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myBean" name="myBean" class="com.yezi.springforstudy.ioc.beans.MyBean">
        <property name="name" value="张三"/>
        <property name="age" value="11"/>
        <property name="sex" value="男"/>
    </bean>
    <bean id="myBean1" class="com.yezi.springforstudy.ioc.beans.MyBean" lazy-init="true">
        <constructor-arg  index="0" value="里斯"/>
        <constructor-arg index="1" value="男"/>
        <constructor-arg index="2" value="32"/>
    </bean>
    <bean id="car" class="com.yezi.springforstudy.ioc.beans.CarFactoryBean" P:carInfo="法拉利,400,2000000"/>


</beans>